.App {
  background-color: rgb(35, 35, 35);
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
  color: azure;
  font-size: 19px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
